@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
//===============================================
//              default styles
//==============================================
$text-color:#969696;
$tomato:#f16355;
$blue:#2e356b;
$black:#000000;

//============= font familis==============

$dancing : 'Dancing Script',
cursive;
$Explora : 'Explora',
cursive;
$Lobster : 'Lobster',
cursive;
$Raleway :'Raleway',
sans-serif;
$abril_farface :'Abril Fatface',
cursive;

body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  font-family: $Raleway;
}

//============= font familis close ==============
@mixin transition($value) {
  transition: $value;
  -webkit-transition: $value;
  -moz-transition: $value;
  -ms-transition: $value;
  -o-transition: $value;

}

@mixin border-radious($value) {
  border-radius: $value;
  -webkit-border-radius: $value;
  -moz-border-radius: $value;
  -ms-border-radius: $value;
  -o-border-radius: $value;
}

@mixin scale($value) {
  transform: scale($value);
  -webkit-transform: scale($value);
  -moz-transform: scale($value);
  -ms-transform: scale($value);
  -o-transform: scale($value);
}




ul {
  padding: 0;
  margin: 0;

  li {
    list-style-type: none;

    a {
      text-decoration: none;
    }
  }
}

p {
  color: $text-color;
  font-size: 15px;

}

.title {
  .sub_t {
    text-transform: uppercase;
    color: $text-color;
  }

  .main_t {
    color: #535353;
    font-weight: bolder;
    font-size: 50px;
  }
}

button {
  border: none;
  background-color: transparent;

}

.re_mo_btn {
  button {
    a {
      color: $text-color;
      text-transform: uppercase;
      font-weight: 600;
      text-decoration: none;
      @include transition(.5s);
    }
  }

  button a:hover {
    color: $tomato;
  }
}

//===============================================
//              desktop Header styles
//==============================================

.header {
  position: fixed;
  width: 100%;
  background-color: $text-color;
  padding: 20px 0px;
  z-index: 1000000000;

  .desktop_nav {

    display: flex;
    justify-content: space-between;

    .manu_bar {
      .manus {
        display: flex;

        .manu_item {
          margin: 20px;
          margin-top: 20px;
          font-weight: 700;
          color: #ffffff;
          transition: 0.5s;
          -webkit-transition: 0.5s;
          -moz-transition: 0.5s;
          -ms-transition: 0.5s;
          -o-transition: 0.5s;
          text-transform: uppercase;
          font-size: 14px;
          padding: 10px 0px;
          font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        }

        .drop_down {
          position: relative;

          .Dropdown {
            position: absolute;
            display: none;
            @include transition(1s);
            background-color: #7f8c8d88;

            .drop_down_items {
              @extend .manu_item;
            }
          }
        }

        .manu_item:hover {
          color: $tomato;
        }
      }
    }

    .social_icon_bar {
      .social_ico_set {
        display: flex;

        .social_icons {
          padding: 10px;
          color: #ffffff;
          @include transition(0.5s);
          border-bottom: 3px solid transparent;
        }

        .social_icons:hover {
          color: #f16355;
          border-bottom: 3px solid $tomato;
        }
      }
    }

    ///==============mobile nav

    .mobile_bar {
      .mobile_ico_set {
        .bars-ico {
          color: white;
          font-weight: bolder;
        }
      }
    }
  }
}

.mobile_manu_area {
  width: 0vw;
  height: 100vh;
  position: fixed;
  background-color: #00000000;
  z-index: 10000000000000000;

  .maus_mob {
    position: relative;

    .close_btn {
      color: white;
      position: absolute;
      left: 85%;
      top: 2%;
      cursor: pointer;
      font-size: 30px;
    }

    width: 0px;
    height: 100vh;
    background-color: #969696da;

    .manu_bar {
      .manus {
        display: block;

        .manu_item {
          margin: 20px;
          margin-top: 20px;
          font-weight: 700;
          color: #ffffff;
          transition: 0.5s;
          -webkit-transition: 0.5s;
          -moz-transition: 0.5s;
          -ms-transition: 0.5s;
          -o-transition: 0.5s;
          text-transform: uppercase;
          font-size: 14px;
          padding: 10px 0px;
          font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        }

        .drop_down {
          position: relative;
          @include transition(1s);

          .Dropdown {
            position: absolute;
            margin-left: 120px;
            margin-top: -20px;
            display: none;
            @include transition(1s);
            background-color: #7f8c8d88;

            .drop_down_items {
              @extend .manu_item;
            }
          }
        }

        .drop_down:hover {
          .Dropdown {
            display: block;
          }
        }

        .manu_item:hover {
          color: $tomato;
        }
      }
    }

  }

}

//===============================================
//              slider_down_section styles
//==============================================
.slider_down_section {
  height: auto;
  width: 100vw;
  padding-bottom: 300px;
  background: linear-gradient(to right, white 50%, $blue 50%);

  .head_tilte {
    h1 {
      margin-top: 13vh;
      color: #000000;
      font-weight: 100;

      b {
        color: $tomato;
        font-weight: 1000;
      }
    }
  }

  .slide_section {

    .slide_item {
      margin-top: 5vh;

      img {
        width: 100%;

      }
    }
  }

  #tns1-ow {
    box-shadow: -20px 30px 100px rgba(0, 0, 0, 0.315);
  }

  .slide_control {
    display: flex;
    align-items: center;

    .butons {
      display: flex;
      flex-direction: column;

      button {
        color: white;
        background-color: transparent;
        border: none;
        font-size: 40px;
        padding: 30px;
        @include transition(.5s);
      }

      button:hover {
        color: $tomato;
      }
    }
  }

}

//===============================================
//              services_section styles
//==============================================
.services_section {

  margin-top: -12%;
  height: auto;

  #cars_sec-ow {
    .tns-nav {
      display: flex;
      justify-content: center;
      margin-top: 100px;

      button {
        margin: 0px 10px;
        cursor: pointer;
        background-color: $text-color;
        font-size: 50px;
        content: 'hrlloe';
        color: white;
        padding: 10px;
      }

      .tns-nav-active {
        background-color: #f16355;
      }
    }
  }

  .cards_sec {
    .card_item {
      @include transition(.5s);
      box-shadow: -10px 10px 50px rgba(0, 0, 0, 0.26);
      height: 600px;
      margin-right: 15px;

      .img_sec {
        background-size: cover;
        background-position: top center;
        background-blend-mode: overlay;
        position: relative;
        height: 50%;
        color: white;
        display: flex;
        justify-content: center;
        align-items: end;
        @include transition(1s);

        i {
          font-size: 150px;
          color: #f16255;
          @include transition(1s);
        }

        background-color: #fff;
      }

      .content {
        height: 50%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-content: flex-end;
        padding: 30px 40px 20px 40px;

        .sub {
          color: $text-color;
        }

        .sub,
        .main,
        button {
          text-transform: uppercase;
          @include transition(.5s);
        }

        .main {
          font-weight: bold;
          color: #f16255;
        }

        button:hover {
          color: #f16355;
          @include transition(.5s);
        }

        .con_p {

          visibility: hidden;
          line-height: 0px;
          @include transition(.2s);
        }
      }
    }

  }

  .card_item:hover {
    .img_sec {
      background: url('/assets/img/img\ \(13\).jpg'), #f16255;
      background-position: bottom center;
      display: flex;
      justify-content: center;
      align-items: center;

      i {
        color: #ffffff;
      }

    }

    .content {
      .con_p {
        visibility: visible;
        line-height: 20px;
      }

      button {
        color: #f16355;
      }
    }
  }
}

//===============================================
//              Moibile_2_section styles
//==============================================
.Moibile_section {
  margin-top: 50px;
  padding: 50px 0px;
  background-color: #b6b6b64f;
  height: auto;

  img {
    margin-top: 100px;
    width: 100%;
  }
}

//===============================================
//              laptop_section styles
//==============================================
.laptop_section {
  margin-top: 50px;
  padding: 50px 0px;
  background-color: #ffffff;
  height: auto;

  img {
    margin-top: 100px;
  }

  a:hover {
    color: #2e356b !important;
  }
}

//===============================================
//              Moibile_2_section styles
//==============================================
.Moibile_2_section {
  margin-top: 50px;
  padding: 50px 0px;
  background-color: #b6b6b64f;
  height: auto;

  img {
    margin-top: 100px;
  }

  a:hover {
    color: #1d9be3 !important;
  }
}

//===============================================
//              prinching_section styles
//==============================================
.prinching_section {
  margin-top: 50px;
  padding: 50px 0px;
  height: auto;

  .title {
    .chose_Plan {

      margin-top: 50px;

      h5 {
        margin: 1px 10px;
        font-weight: bold;
        font-size: 15px;
        color: $text-color;

      }

      .chek_button {
        .parent {
          @include border-radious(10px);
          position: relative;
          height: 20px;
          width: 70px;
          background-color: #bebebe80;
          cursor: pointer;
        }

        .child {
          position: absolute;
          top: 0;
          left: 0%;
          background-color: #ef584a;
          height: 100%;
          width: 50%;
          @include border-radious(10px);
          color: transparent;
          @include transition(.5s);

        }
      }
    }
  }

  .card_prin {
    cursor: pointer;
    margin-top: 120px;
    height: 700px;
    box-shadow: -10px 10px 30px rgba(0, 0, 0, 0.199);
    @include transition(.5s);

    .cad_prize {
      width: 100%;
      height: 40%;
      padding: 50px;
      background-color: $tomato;

      .title {
        .amount_t {
          font-size: 14px;
          margin-top: 15px;
          color: #c2c1c1;
        }

        h2 {
          font-weight: bolder;
          color: white;
          display: flex;
        }

        .prize_tag {
          align-items: center;

          #prize_basic,
          #prize_busness,
          #prize_plut {
            font-family: $abril_farface;
          }

          span {
            margin-left: 5px;
            font-size: 13px;
            font-weight: bolder;

          }
        }
      }
    }

    .benefits {
      padding: 40px;

      ul {
        li {
          margin: 15px 0px;
          color: $text-color;
          font-weight: 500;

          .fa-check {
            margin-right: 5px;
            color: #5fd79d;

          }
        }
      }

      .re_mo_btn {
        margin-left: 20px;
        font-size: 14px;
      }
    }
  }

  .card_prin:hover {
    transform: scaleY(1.1);
    -webkit-transform: scaleY(1.1);
    -moz-transform: scaleY(1.1);
    -ms-transform: scaleY(1.1);
    -o-transform: scaleY(1.1);
    box-shadow: -10px 10px 50px rgba(0, 0, 0, 0.226);
  }
}

//===============================================
//              prinching_section styles
//==============================================

.blog_section {
  margin-top: 100px;
  .butons {
    button {
      color: $text-color;
      background-color: transparent;
      border: none;
      font-size: 50px;
      padding: 20px; 
      @include transition(.5s);
    }

    button:hover {
      color: $blue;
    }
  }
  .cards_sec {

    position: relative;
 
    .card_item {
      cursor: pointer;
      position: relative;
      background-color: #ffffff;
      height: 480px;
      width: 100%;
      overflow: hidden;
      @include transition(.5s);
      //box-shadow: -10px 10px 50px rgba(0, 0, 0, 0.24) ;
      .img_sec { 
        position: relative;
        height: 65%;
        background-color: #ffffff;
        overflow: hidden;
        .img_s { 
          align-items: flex-end;
          display: flex;
          height: 100%;
          img {
            @include transition(.5s);
            z-index: 1;
            height: 65%;
            width: 100%;  
            
          }     
        }
            
        .img_title {
          h4 {
            @include transition(.5s);
            color: #ff6262;
          }
          @include transition(.5s);
          z-index: 20;
          display: flex;   
          position: absolute;
          top: -65%;
          left: 0;
          flex-direction: column;
          justify-content: flex-end;
          padding: 20px;
          width: 100%;
          height: 100%;
          // background: linear-gradient( to bottom , rgba(0, 0, 0, 0.267) , black ) ;
        }
      }
    
      .content {
        padding: 20px;
        h6{
          font-size: 13px;
          color:  $text-color;
        }
      }
    }    
    .card_item:hover {
      box-shadow: -10px 10px 50px rgba(0, 0, 0, 0.24) ;
      .img_sec { 
        .img_s { 
          img {
            @include scale(1.5);
            height: 100%;
            width: 100%; 

          }     
        }         
        .img_title {
          h4 {
            color: #ffffff;
          }
          top: 0%;
          background: linear-gradient( to bottom , rgba(0, 0, 0, 0.178)  , black ) ;
        }
      }
  
      }
    }
    
  }

//===============================================
//              prinching_section styles
//==============================================

.team_section {
  margin-top: 100px;
  .butons {
    button {
      color: $text-color;
      background-color: transparent;
      border: none;
      font-size: 50px;
      padding: 20px; 
      @include transition(.5s);
    }

    button:hover {
      color: $tomato;
    }
  }
  .cards_sec {

    position: relative;
 
    .card_item {
      cursor: pointer;
      position: relative;
      height: 550px; 
      width: 100%;

      @include transition(.5s);
      //box-shadow: -10px 10px 50px rgba(0, 0, 0, 0.24) ;
      .img_sec { 
        position: relative;
        height: 90%;
        background-color: #ffffff;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .img_s { 
          align-items: flex-end;
          display: flex;
          height: 100%;
          img {
            @include transition(.5s);
            height: 100%;
            width: 100%;  
          }     
        }
            
        .img_title {
          h4 {
            @include transition(.5s);
            color: #535353;
          }
          @include transition(.5s);
          display: flex;   
          padding: 20px;

          // background: linear-gradient( to bottom , rgba(0, 0, 0, 0.267) , black ) ;
        }
      }
    
      .content {
        padding: 20px;
        h6{
          font-size: 13px;
          color:  $text-color;
        }
        .team_ico_set{
          display: flex;
          justify-content: space-evenly;
          .social_icons {
            padding: 10px;
            color: #c2c1c1;
            @include transition(0.5s);
            border-bottom: 3px solid transparent;
          }
  
          .social_icons:hover {
            color: #f16355;
            border-bottom: 3px solid $tomato;
          }
        }
      }

    }    
    .card_item:hover {      
        .img_title {
          h4 {
            color: $tomato;
          }
        }
      }
  
      }
    }
    
  

//===============================================
//              prinching_section styles
//==============================================
.contact_section{
  padding: 200px 0px;
.cont_email{
  position: relative;
 .text_ani{
  top: 0;
  color: $tomato;
  position: absolute;
  font-size: 40px;
 }
  margin-top: 100px;
  width: 370px;
  padding: 30px 40px;
  background-color: #dfdfdfbb;
  .sb_but{
    font-size: 50px;
    color: $tomato;
  }
  .mail_send{
    border: none;
    padding:  10px 10px; 
    width:  220px;          
  }
  .mail_send::placeholder  , .mail_send{
    color: $text-color;
    font-weight: bolder  ;
    font-size: 12px;
    text-transform: uppercase;

  }  .mail_send:focus{
   outline: none;

  }
 
}
}

.footer{
  margin-top: 100px;
  padding: 100px 0px;
  background-color: #ffffffa9;
  .content_fo{
    margin-top: 80px;
    .head_fo{
      font-size: 15px;
      font-weight: bolder;
      color: #c2c1c1;
    }
    .fot_link{
      margin-top: 40px ;
      li{margin: 10px 0px ;
        a{
        text-transform: uppercase;
        color: #c2c1c1;
        font-weight: bold;
        font-size: 14px;
      }}

      }
    }    
      .fot_link_ser{
        margin-top: 40px;
       li{margin: 10px 0px ;
        a{

        color: #969696;
        font-weight: normal;
        font-size: 14px;
      }}
  }
  .copy_right{
    margin-top: 50px ;
    .copy_text{
      text-transform: uppercase;
      font-family: sans-serif;
      img{
        padding: 10px ; 
        height: 30px;
        background-color: #f16355;
        @include border-radious(100px);
      }
    }
      .web_ico_set{
      display: flex;
      justify-content: space-evenly;
      .social_icons {
        padding: 10px;
        color: #c2c1c1;
        @include transition(0.5s);
        border-bottom: 3px solid transparent;
      }

      .social_icons:hover {
        color: #f16355;
        border-bottom: 3px solid $tomato;
      }
    }
  }
}